.card {
	width: 50%;
}

.coin-transfer{
	display: flex;
	align-items: end;
	justify-content: space-between;
}

.title {
	font-size: 32px;
	margin-bottom: 2px;
}

@media (max-width: 1200px) {
	.card {
			width: 80%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

	.symbol {
		display: none;
	}

	.coin-transfer{
		margin-top: 10px;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}

	.title {
		text-align: center;
	}
}
