.input {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form {
	width: 100vh;
	height: auto;
}

.button {
	width: auto;
}

.bubble {
	position: absolute !important;
	top: 60%;
	left: 80%;
	transform: translate(-50%, -50%);
}

.value {
	display: flex;
	justify-content: space-between;
}

.balance {
	display: flex;
	gap: 10px;
}

.max {
	color: red;
	text-decoration: underline;
	cursor: pointer;
	transition: transform 0.2s ease, color 0.2s ease;
}

.max:active {
	transform: scale(0.95);
	color: #f47171;
}

.hidden {
	visibility: hidden;
}

.link {
	color: blue;
	width: 100%;
	/* display: inline-block; */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media (max-width: 1200px) {
	.form {
		width: 100%;
	}

	.value {
		justify-content: space-between;
	}

	.balance-text {
		display: none;
	}

	.balance-value {
		display: none;
	}
}
