.header {
  margin: 20px 0 10px 0;
	display: flex;
}

.logo {
	font-size: 120px;
}

.button-group {
	min-width: 500px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media (max-width: 1200px) {
	.header {
		flex-direction: column;
		align-items: center;
	}

	.logo {
		font-size: 60px;
		text-align: center;
	}

	.button-group {
		width: 80%;
		min-width: unset;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.disconnect-button,
	.connet-box button {
		width: 100%;
	}
}
